*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-input{
    padding: 10px;
    width: 20%;
    border: none;
}

.search-button{
    width: 3%;
    padding: 8px;
    border: none;
    background: rgb(233, 250, 210);
    margin-top: 5px;
}