*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.lato-light {
    /*font-family: "Lato", sans-serif;*/
    font-weight: 300;
    font-style: normal;
}

.lato-thin {
    /*font-family: "Lato", sans-serif;*/
    font-weight: 100;
    font-style: normal;
}


.welcome-title{
    padding: 50px;
    font-size: 75px;
    font-size: 3em;
    animation: shine 1s infinite alternate;
}

.welcome-description{
    padding: 40px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.scroll-down-btn{
    background: transparent;
    border: none;
    height: 100px;
}

/*ANIMATION*/

@keyframes shine {
    0% {
      text-shadow: none;
      color: #fff;
    }
    30% {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.8);
    }
    100% {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      color: rgba(255, 255, 255, 1);
    }
}


/*RESPONSIVE*/

/*RESPONSIVE*/
@media screen and (max-width: 960px) {
    .welcome{
        font-size: 0.8em;
    }
    
}


@media screen and (max-width: 720px) {
    .welcome{
        font-size: 0.6em;
    }

    .welcome-title{
        padding: 20px;
    }

    .welcome-description{
        padding: 20px;
    }

    .scroll-down-btn{
        height: 80px;
    }
    
}


@media screen and (max-width: 480px) {
    .welcome{
        font-size: 0.4em;
    }

    .welcome-title{
        padding: 10px;
    }

    .welcome-description{
        padding: 10px;
    }

    .scroll-down-btn{
        height: 60px;
    }
   
}
  
  

  